.inputWrapper {
  position: relative;
}

input:valid {
  background: rgba(0, 0, 0, 0.06);
}
input:invalid {
  background: rgba(249, 1, 1, 0.06);
}

.inputIconWrapper {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(-50%, 0);

  width: 5px;
  height: 5px;
  background: red;
}

.inputIcon {
  display: flex;
}
