.header {
  display: flex;

  align-items: flex-start;
  justify-content: space-between;

  height: 224px;

  padding-top: 40px;
  padding-bottom: 16px;
}

.headerAvatar {
  width: 168px;
  height: 168px;

  margin-right: 24px;

  border-radius: 50%;
  object-fit: cover;
}

.headerBackground {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;

  height: 224px;

  background: rgba(179, 186, 192, 0.2);
}
.headerInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  flex-grow: 1;

  margin-right: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

.headerInfoNameWrapper {
  margin-bottom: 8px;
}

.headerInfoName {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}

.headerInfoLocationWrapper {
  margin-bottom: 8px;
}

.headerInfoLanguageWrapper {
  display: flex;

  align-items: center;

  margin-bottom: 16px;
}

.headerInfoLanguageFlag {
  width: 24px;
  height: 24px;

  margin-right: 8px;
}

.headerPrint {
  display: flex;
  align-items: center;
}

.headerPrintIcon {
  height: 24px;
  width: 24px;

  margin-right: 8px;
}

.headerPrint:hover svg path {
  fill: #eb5757;
}

.headerPrint:hover .link {
  color: #eb5757;
}

.headerPrint-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #3483cc;
}
