.skill {
  position: relative;

  padding: 4px 8px;

  background: #333333;
  border-radius: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  cursor: pointer;
  color: #ffffff;
}

.skill:hover {
  background: #666666;
}

.skillDeleteWrapper {
  position: absolute;

  top: -7px;
  right: -7px;

  display: none;

  width: 16px;
  height: 16px;
}
