.comments {
  margin-right: 39px;
}

.commentsTitle {
  margin-bottom: 40px;
}

.commentsText {
  position: relative;

  width: 232px;

  margin-left: 16px;
  text-align: center;
}

.commensQuotes {
  line-height: 24px;
}

.giganticLeftQuotes {
  position: absolute;
  top: -36px;
  left: -22px;

  font-size: 120px;

  color: rgba(179, 186, 192, 0.2);
}

.giganticRightQuotes {
  position: absolute;

  bottom: -15px;
  right: -22px;

  font-size: 120px;

  color: rgba(179, 186, 192, 0.2);
}
