.comments {
  margin-right: 59px;
}

.commentsTitle {
  margin-bottom: 40px;
}

.commentsText {
  display: flex;

  width: 232px;
}

.giganticLeftQuotes {
  width: 40px;
  height: 32px;

  font-size: 120px;

  color: rgba(179, 186, 192, 0.2);
}

.giganticRightQuotes {
  width: 40px;
  height: 32px;

  font-size: 120px;

  color: rgba(179, 186, 192, 0.2);
}
